@using Microsoft.AspNetCore.Identity
@using ZPool.Models
@using ZPool.Services.Interfaces
@inject SignInManager<AppUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZPool</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/feef528c1f.js" crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>
<body style="margin-bottom: 0">
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-yellow border-bottom box-shadow mb-3 py-0">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="/images/logo1_1.png" class="ml-1 mr-3" style="max-height: 50px" />
                    Z-Pool
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/FAQ">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Rides/GetRides">Rides</a>
                        </li>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Bookings/GetBookings">Bookings</a>
                            </li>

                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="min-height: 70vh">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start mb-0 pt-2 text-muted" style="background-color: #f0f0f0">
        <!-- Grid container -->
        <div class="container p-4 justify-content-center" style="max-width: 1100px">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-lg-left text-center">

                    <a asp-page="/Index" class="text-dark text-muted h3" style="text-decoration: none">Z-Pool</a>

                    <ul class="list-unstyled mb-0">
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column 2-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-center text-md-left d-flex justify-content-center">

                    <ul class="list-unstyled mb-0">
                        <li>
                            <h6 class="text-uppercase">Navigation</h6>
                        </li>
                        <li>
                            <a class="nav-link footer-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li>
                            <a class="nav-link footer-link" asp-area="" asp-page="/Rides/GetRides">Rides</a>
                        </li>
                       <li>
                            <a class="nav-link footer-link" asp-area="" asp-page="/FAQ">FAQ</a>
                        </li>
                        <li>
                            <a class="nav-link footer-link" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column 2 end-->
                <!--Grid column 3-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-center text-md-left d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <li>
                            <h6 class="text-uppercase">Contact</h6>
                        </li>
                        <li>
                            <a class="nav-link footer-link" asp-area="" asp-page="/ContactUs">Contact Us</a>
                        </li>


                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center pb-3 px-3 pt-0 font-weight-light" style="background-color: #f0f0f0">
            <hr />
            &copy; 2021 - Z-Pool
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
    <partial name="_ValidationScriptsPartial" />
</body>
</html>
