@page
@model ZPool.Pages.Bookings.EditModel

@{
    ViewData["Title"] = "EditBooking";
}

<h1>Edit</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="booking.BookingID" />
            <div class="form-group">
                <label asp-for="booking.Date" class="control-label"></label>
                <input asp-for="booking.Date" class="form-control" />
                <span asp-validation-for="booking.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="booking.PickUpLocation" class="control-label"></label>
                <input asp-for="booking.PickUpLocation" class="form-control" />
                <span asp-validation-for="booking.PickUpLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="booking.DropOffLocation" class="control-label"></label>
                <input asp-for="booking.DropOffLocation" class="form-control" />
                <span asp-validation-for="booking.DropOffLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="booking.RideID" class="control-label"></label>
                <select asp-for="booking.RideID" class="form-control" asp-items="ViewBag.RideID"></select>
                <span asp-validation-for="booking.RideID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="booking.AppUserID" class="control-label"></label>
                <select asp-for="booking.AppUserID" class="form-control" asp-items="ViewBag.AppUserID"></select>
                <span asp-validation-for="booking.AppUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
