
@page
@model ZPool.Pages.Shared.ContactUsModel
@{
}
<div class="text-center">
    <h1>Did you find anything what you want to tell us?</h1>
    <h2>Write us an email!</h2>
    <h4>This application was created by</h4>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">FirstName</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Nohely</td>
                <td>Gedeon</td>
                <td>nohe0005@edu.easj.dk</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Sarah</td>
                <td>Bæk</td>
                <td>sara634m@edu.easj.dk</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Wenqi</td>
                <td>Huang</td>
                <td>wenq0012@edu.easj.dk</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Niko</td>
                <td>Dojan</td>
                <td>niko201n@edu.easj.dk</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Adriana</td>
                <td>Bojnanska</td>
                <td>adri2890@edu.easj.dk</td>
                <tr>
                    <th scope="row">6</th>
                    <td>Administrator</td>
                    <td></td>
                    <td>zpooladmin@outlook.com</td>
                </tr>
            </tr>
        </tbody>
    </table>



</div>





   

